## Pandas DataFrame - Basic Operations

#### 1 Creating a DataFrame
- A DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns).

In [1]:
import pandas as pd

In [2]:
# Creating a DataFrame
data = pd.DataFrame({
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
})
print(data)

    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London

### 2. DataFrame from a Dictionary
A DataFrame can be created directly from a dictionary, where the keys are the column names, and the values are lists of column data.

In [3]:
# Creating DataFrame from a dictionary
data_dict = {'Product': ['A', 'B', 'C'],
             'Price': [10, 20, 30]}
df = pd.DataFrame(data_dict)
print(df)

  Product  Price
0       A     10
1       B     20
2       C     30

### 3. Reading Data from Files (CSV, Excel, etc.)
Pandas allows easy reading from external data sources like CSV, Excel, and databases.

In [4]:
# Reading a CSV file
df_csv = pd.read_csv('data/file.csv')

# Displaying the first few rows
print(df_csv.head())

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

### 4. DataFrame Attributes (columns, index, shape, dtypes)
You can access various attributes of a DataFrame to understand its structure.

In [5]:
# Column names
print(data.columns)

# Index (row labels)
print(data.index)

# Shape of the DataFrame (rows, columns)
print(data.shape)

# Data types of each column
print(data.dtypes)

Index(['Name', 'Age', 'City'], dtype='object')
RangeIndex(start=0, stop=4, step=1)
(4, 3)
Name    object
Age      int64
City    object
dtype: object

### 5. Accessing Columns and Rows (loc vs. iloc)
Pandas provides two primary ways to access data: loc for label-based indexing and iloc for position-based indexing.

In [6]:
# Accessing a column
print(data['Name'])

# Accessing rows using loc (label-based)
print(data.loc[0])

# Accessing rows using iloc (integer position-based)
print(data.iloc[0])

# Accessing a specific element
print(data.loc[0, 'Name'])

0     John
1     Anna
2    Peter
3    Linda
Name: Name, dtype: object
Name        John
Age           28
City    New York
Name: 0, dtype: object
Name        John
Age           28
City    New York
Name: 0, dtype: object
John

### 6. Modifying DataFrames (Adding/Removing Rows and Columns)
You can add or remove columns and rows in a DataFrame.

In [7]:
# Adding a new column
data['Salary'] = [50000, 60000, 55000, 65000]
print(data)

# Removing a column
data = data.drop('Salary', axis=1)
print(data)

# Adding a new row
new_row = pd.DataFrame({'Name': ['Sam'], 'Age': [29], 'City': ['Tokyo']})
data = pd.concat([data, new_row], ignore_index=True)
print(data)

# Removing a row
data = data.drop(0)
print(data)

    Name  Age      City  Salary
0   John   28  New York   50000
1   Anna   24     Paris   60000
2  Peter   35    Berlin   55000
3  Linda   32    London   65000
    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London
    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London
4    Sam   29     Tokyo
    Name  Age    City
1   Anna   24   Paris
2  Peter   35  Berlin
3  Linda   32  London
4    Sam   29   Tokyo

### 7. Transposing DataFrames (df.T)
Transposing a DataFrame swaps the rows and columns.

In [8]:
# Transposing the DataFrame
print(data.T)

          1       2       3      4
Name   Anna   Peter   Linda    Sam
Age      24      35      32     29
City  Paris  Berlin  London  Tokyo

### 8. Copying DataFrames (Deep vs Shallow Copy)
A deep copy creates a new DataFrame that does not share the data with the original, while a shallow copy shares the data.

In [9]:
# Shallow copy (changes will reflect in both)
shallow_copy = data.copy(deep=False)

# Deep copy (independent of original)
deep_copy = data.copy(deep=True)