## Data Aggregation and Grouping

#### 1. GroupBy Operations
- `groupby()` allows you to split your DataFrame into groups based on some criteria.

In [1]:
import pandas as pd

In [2]:
# Creating a sample DataFrame
data = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Value': [10, 20, 30, 40, 50, 60]
})

# Grouping by 'Category'
grouped = data.groupby('Category')
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023F18633E00>

### 2. Aggregating Data (sum(), mean(), count())
After grouping, you can perform aggregation operations like sum(), mean(), or count() on each group.

In [3]:
# Sum of values by 'Category'
sum_values = grouped.sum()
print(sum_values)

# Mean of values by 'Category'
mean_values = grouped.mean()
print(mean_values)

# Count of values by 'Category'
count_values = grouped.count()
print(count_values)

          Value
Category
A            30
B            70
C           110
          Value
Category
A          15.0
B          35.0
C          55.0
          Value
Category
A             2
B             2
C             2

### 3. Multiple Aggregation Functions (agg())
You can apply multiple aggregation functions to a grouped DataFrame using agg().

In [4]:
# Applying multiple aggregation functions
multi_agg = grouped['Value'].agg(['sum', 'mean', 'count'])
print(multi_agg)

          sum  mean  count
Category
A          30  15.0      2
B          70  35.0      2
C         110  55.0      2

### 4. Grouping by Multiple Columns
You can group by more than one column to perform multi-level grouping.

In [5]:
# Creating a sample DataFrame
data_multi = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
    'SubCategory': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
    'Value': [10, 20, 30, 40, 50, 60]
})

# Grouping by multiple columns
grouped_multi = data_multi.groupby(['Category', 'SubCategory']).sum()
print(grouped_multi)

                      Value
Category SubCategory
A        X               10
         Y               20
B        X               30
         Y               40
C        X               50
         Y               60

### 5. Transform and Filter with GroupBy
Use transform() to perform operations and return results aligned with the original DataFrame.
Use filter() to filter out groups based on a condition.

In [6]:
# Calculating the mean value for each 'Category'
data['Value_Mean'] = grouped['Value'].transform('mean')
print(data)

  Category  Value  Value_Mean
0        A     10        15.0
1        A     20        15.0
2        B     30        35.0
3        B     40        35.0
4        C     50        55.0
5        C     60        55.0

In [7]:
# Filtering groups where the sum of 'Value' is greater than 50
filtered = grouped.filter(lambda x: x['Value'].sum() > 50)
print(filtered)

  Category  Value  Value_Mean
2        B     30        35.0
3        B     40        35.0
4        C     50        55.0
5        C     60        55.0

### 6. Pivot Tables and Cross-tabulations
Pivot tables provide a way to summarize data, similar to Excel pivot tables.
crosstab() provides a frequency table for cross-tabulation.

In [8]:
# Creating a pivot table
pivot_table = data_multi.pivot_table(values='Value', index='Category', columns='SubCategory', aggfunc='sum')
print(pivot_table)

SubCategory   X   Y
Category
A            10  20
B            30  40
C            50  60

In [9]:
# Creating a cross-tabulation
crosstab = pd.crosstab(data_multi['Category'], data_multi['SubCategory'])
print(crosstab)

SubCategory  X  Y
Category
A            1  1
B            1  1
C            1  1

### 7. Window Functions (Rolling, Expanding, and EWM)
Window functions like rolling(), expanding(), and ewm() allow for operations over a sliding window or cumulative basis.

In [10]:
# Creating a time series DataFrame
time_data = pd.DataFrame({
    'Date': pd.date_range('2023-01-01', periods=6),
    'Value': [10, 20, 30, 40, 50, 60]
})

# Calculating a rolling sum with a window size of 3
time_data['Rolling_Sum'] = time_data['Value'].rolling(window=3).sum()
print(time_data)

        Date  Value  Rolling_Sum
0 2023-01-01     10          NaN
1 2023-01-02     20          NaN
2 2023-01-03     30         60.0
3 2023-01-04     40         90.0
4 2023-01-05     50        120.0
5 2023-01-06     60        150.0

In [11]:
# Expanding sum (cumulative sum)
time_data['Expanding_Sum'] = time_data['Value'].expanding().sum()
print(time_data)

        Date  Value  Rolling_Sum  Expanding_Sum
0 2023-01-01     10          NaN           10.0
1 2023-01-02     20          NaN           30.0
2 2023-01-03     30         60.0           60.0
3 2023-01-04     40         90.0          100.0
4 2023-01-05     50        120.0          150.0
5 2023-01-06     60        150.0          210.0

In [12]:
# Calculating an exponentially weighted mean
time_data['EWM'] = time_data['Value'].ewm(span=2).mean()
print(time_data)

        Date  Value  Rolling_Sum  Expanding_Sum        EWM
0 2023-01-01     10          NaN           10.0  10.000000
1 2023-01-02     20          NaN           30.0  17.500000
2 2023-01-03     30         60.0           60.0  26.153846
3 2023-01-04     40         90.0          100.0  35.500000
4 2023-01-05     50        120.0          150.0  45.206612
5 2023-01-06     60        150.0          210.0  55.082418